:root {
    --font: 'Nunito Sans', sans-serif;
    --font-secondary:'Red Hat Display', sans-serif;
    --dark: #272044;
}

body {
    font-family: var(--font-secondary);
}

    h1 {
        font-size: 96px;
        line-height: 144px;
    }
    h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
    }
    h3 {
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
    }
    header h1 {
         margin: 0;
    }
    header h2 {
        line-height: 60px;
        font-weight: 400;
        margin: 0 0 30px 0;
    }
    header span {
        font-weight: 900;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 5px;
        text-align: center;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url("../images/rollerskates-3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        color: white;
        text-align: center;
        padding: 250px 0;
        margin: 0 auto;
    }
    header a {
        background: white;
        color: var(--dark);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 3px;
        padding: 15px 30px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
    }
.container {
    max-width: 1440px;
    margin: 0 auto;
}
footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.7)), url("../images/rollerblade-detail.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    margin: 0 auto;
    padding: 100px 170px;
}
footer a {
    color: white;
}
footer li {
    font-weight: 400;
}
footer ul {
    list-style: none;
    padding-left: 0px;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 64px;
}
@media (max-width: 900px) {
    header {
        padding: 60px 0;
    }
    header h1 {
        font-size: 48px;
        line-height: 72px;
    }
    header h2 {
        font-size: 24px;
        margin: 0 0 15px 0;
    }
    header span {
        font-size: 12px;
    }
    header a {
        padding: 10px 15px;
        font-size: 12px;
    }
}